
h2 {
	text-align: center;
    font-size: 22pt;
    font-family: 'Courier';
    font-style: italic;
     text-shadow: 2px 2px lightgrey;
}

ul {
  list-style-type: none;
}

#back {
	position: absolute;
    right: 0;
    top: 90px;
    color: blue;
    font-size: larger;
    border: 1px solid blue;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
    display: none;
}

.details span {
	font-size: 2em;
    color: green;
    padding-left: 1em;
}

.details label {
    font-weight: 600;
    font-size: 2em;
}

.names li{
	font-size: 2em;
	cursor: pointer;
	text-shadow: 1px;
}


.names li:hover {
	color: lightblue;
	transition: color 0.2s ease-in;

}

.header {
	
}